<?xml version='1.0' encoding='utf-8'?>
<widget id="com.grupoVinteECinco.cuideSe" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cuide-se</name>
    <description>Saiba onde cuidar de sua saúde</description>
    <author email="victorfreire85@gmail.com" href="https://cordova.apache.org">
        Grupo 25 - Curso de Análise e Desenvolvimento de Sistemas - Senac - 2024.2
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
